/*     Globals     */
p {
  display: inline;
}
div {
  display: inline-block;
}
h3 {
  display: inline;
}


/*     Intro page     */
#continue {
  width: 200px;
  height: 40px;
  background-color: #8888ff;
  text-align: center;
}
#continue p {
  display: inline-block;
  margin: 0px;
  padding: 11px 0px;
}


/*     Main Page     */
div.choice {
  width: 140px;
  height: 50px;
  text-align: center;
  margin: 1px;
}
div.choice p {
  display: inline-block;
  vertical-align: middle;
}
div#path {
  border: 1px dotted black;
  padding: 5px;
}
